spring:
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/tbd1
    username: postgres
    password: pitufo
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    hibernate:
      ddl-auto: create