spring:
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/tbd
    username: postgres
    password: secret
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    hibernate:
      ddl-auto: create